#rotateDiv{
    transform: rotate(30deg);
    transform: scale(1.2);
}
/* 
transition 将某个元素的某个属性 从一个值在指定时间过度到另一个值
transition-property: 属性名/all
transition-duration
transition-timing-function:linear ease ease-in ease-out ease-in-out */
/* 
动画 animation */
@keyframes mycolor{
    0% {
        background-color: red;
    }
    60%{background-color: yellow;}
    100%{background-color: green;}
}
/* animation-name -duration -timing-function -play-state*/
/* div:hover{animation: mycolor 5s linear };*/
