div{
    height: 100px;
    width: 150px;
    border: 1px solid blue;
    border-top-left-radius: 40px 20px;
    border-bottom-right-radius: 20px;
}
#circle{
    height:50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 25px;
}

.shadow{
    box-shadow: 10px 10px 5px #888888;

}