p{
    /* 水平偏移 垂直偏移 阴影大小 颜色 */
    text-shadow: 2px 2px 8px blue;
}
h1{
    color:white;
    text-shadow: 2px 2px 4px #000000;

    /* 强制换行*/
    word-wrap: break-word;
}
@font-face{
    font-family: myfont;
    src:url('fonts/myfont.tff');
}
p{
    font-family: myfont;
}
